@model Models.EF.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Models.EF.CategotyProduct)ViewBag.Category;
}

<script>
    function change_image(image) {

        var container = document.getElementById("main-image");

        container.src = image.src;
    }



    document.addEventListener("DOMContentLoaded", function (event) {







    });
</script>
<div class="content">
    <p><a href="index.cshtml"> Trang chủ</a>>>>><a href="/san-pham/@category.ID">@category.Name</a></p>
</div>

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="@Url.Content(Model.Image)" width="250" /> </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mt-4 mb-3">

                                <h2>@Model.Name</h2>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price"><h4>Giá: </h4>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0"):"Liên hệ")</span>
                                    <div class="ml-2"> <small class="dis-price">Giảm còn </small> <span>@(Model.Price.HasValue ? Model.PriceKM.Value.ToString("N0"):"Liên hệ")</span> </div>
                                </div>
                                <div class="price d-flex flex-row align-items-center">
                                    <h4>Mô tả</h4>
                                    <span class="act-price">@Model.Detail</span>

                                </div>

                            </div>
                            <h4>Cấu hình</h4>
                            <p class="about">@Model.CauHinh</p>
                            
                            <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">Thêm vào giỏ hàng</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
